<div data-role="header">
	<h1><%=t :all_users %></h1>	
</div>

<div data-role="content" >
	<h2><%=t :all_users %></h2>
	<%= will_paginate %>
	<ul>
		<!-- Rails infers that @users is a list of User objects -->
		<!-- Rails automatically iterates through them and renders each one with the _user.html.erb partial -->
		<%= render @users %>
	</ul>
	<%= will_paginate %>
</div>